{% extends 'catalog/base.html' %}
{% block content %}
<div class="col-12">
 <a class="btn btn-success" href="{% url 'catalog:product_create' %}" style="margin-bottom: 30px;">
     Добавить новый продукт
 </a>
</div>
{% for product in product_list %}
<div class="col-4">
    <div class="card ">
        <h1 class="card-header text-center">
            {{product.name}}
        </h1>
        <div class="card-body text-center">
            {% if product.image %}
                <img src="{{ product.image.url }}" style="max-width: 50%; max-height: 100%;">
            {% else %}
                <p>Нет изображения</p>
            {% endif %}
        </div>
        <div class="card-footer">
             <div class="d-flex justify-content-center  align-items-center">
                <div class="btn-group">
                    <a href="{% url 'catalog:product_detail' product.pk %}"
                       class="btn btn-sm btn-secondary mr-1">Информация</a>
                    <a href="{% url 'catalog:product_update' product.pk %}" type="button"
                       class="btn btn-sm btn-success mr-1">Редактировать</a>
                    <a href="{% url 'catalog:product_delete' product.pk %}" type="button"
                       class="btn btn-sm btn-danger">Удалить</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}
{% endblock %}